{
  "include": [
    "packages/**/*.js"
  ],
  "exclude": [
    "**/index.js",
    "packages/config/src/utils/format-path.js",
    "packages/**/*.spec.js",
    "packages/**/bin",
    "packages/**/src/commands",
    "packages/cli/loader.js",
    "packages/cli/src/sitecore",
    "packages/cli-plugin-fractal",
    "packages/cli-plugin-browsersync",
    "packages/cli-plugin-vue"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".js"
  ],
  "check-coverage": true,
  "lines": 99.3,
  "functions": 94.87,
  "branches": 84.48,
  "statements": 98.03,
  "all": true
}