{
  "include": [
    "packages/**/*.js"
  ],
  "exclude": [
    "**/index.js",
    "packages/config/src/utils/format-path.js",
    "packages/**/*.spec.js",
    "packages/**/bin",
    "packages/**/src/commands",
    "packages/cli/loader.js",
    "packages/cli/src/sitecore",
    "packages/cli/src/msbuild/stream-replace.js",
    "packages/cli/src/msbuild/runner.js",
    "packages/cli-plugin-fractal",
    "packages/cli-plugin-browsersync",
    "packages/cli-plugin-vue"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".js"
  ],
  "check-coverage": true,
  "lines": 100,
  "functions": 95.31,
  "branches": 87.82,
  "statements": 98.91,
  "all": true
}