<configuration>
    <sitecore>
        <unicorn>
            <authenticationProvider>
                <SharedSecret>[sharedsecret]</SharedSecret>
                <WriteAuthFailuresToLog>false</WriteAuthFailuresToLog>
            </authenticationProvider>
        </unicorn>
    </sitecore>
</configuration>